.red{
    -fx-color: #DC143C;
    -fx-text-fill: #DC143C;
}
.white{
	-fx-color: #FFFAF0;
	-fx-text-fill: #FFFAF0;
}
.orange{
	-fx-color: #FF8C00;
	-fx-text-fill: #FF8C00;
}
.blue{
	-fx-color: #0000CD;
	-fx-text-fill: #0000CD;
	-fx-stroke: firebrick;
	-fx-stroke:5;
}
.chooseColourButton{
	-fx-border-color: #000000;
    -fx-border-width: 0.5;
    -fx-border-radius: 5;
	-fx-background-radius: 0;
    -fx-background-color: transparent;
	-fx-backgroundcolor:transparent;
}
.default{
	-fx-color: #000000;
	-fx-text-fill: #000000;
}
#mapBack{
	-fx-color: #708090;
	-fx-background-color: #87CEFA
}
.currentPlayer{
	-fx-color: #000000;
	-fx-background-color: #000000;
	
}
.resourceHolderPane{
	-fx-border-color:grey grey grey grey;
	-fx-background-color:white;
	-fx-border-width: 1 1 1 1;
	-fx-border-style: dashed dashed dashed dashed;
}
.currentPlayerPane{
	-fx-border-color:red red red red;
	-fx-background-color:lightgreen;
	-fx-border-width: 1 1 1 1;
	-fx-border-style: solid solid solid solid;
}
.ghostCaptainButton{
	-fx-color: #4db34d;
	-fx-background-color: transparent;
	-fx-text-fill: transparent;
	
}
.ghostCaptainButton:hover{
	-fx-color: #000000;
	-fx-background-color: #000000;
	-fx-text-fill: #4db34d;
	-fx-content: choose;
	
}